aws_region                    = "ap-southeast-6"
environment                   = "test"
vpc_id                        = "vpc-0ed2b0325e7e44ab0"
db_security_group_id          = "sg-02416889752ccd804"
db_host                       = "mygardenostestdb.cno2oku4ynd8.ap-southeast-6.rds.amazonaws.com"
db_name                       = "postgres"
db_user                       = "postgres"
db_password_secret_value_from = "arn:aws:secretsmanager:ap-southeast-6:133946907310:secret:Test_DB-FCSorp:password::"
db_password_secret_arn        = "arn:aws:secretsmanager:ap-southeast-6:133946907310:secret:Test_DB-FCSorp"
geoapify_api_key_secret_value_from = "arn:aws:secretsmanager:ap-southeast-6:133946907310:secret:Geoapify-xxxxxx:GEOAPIFY_API_KEY::"
geoapify_api_key_secret_arn        = "arn:aws:secretsmanager:ap-southeast-6:133946907310:secret:Geoapify-xxxxxx"
github_repo                   = "haohan6037/PointCloudT"
clerk_public_key              = "pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
admin_emails                  = "haohan6037@gmail.com,kaiyu.yang@youngproperty.co.nz"
provider_emails               = ""

# Optional: set explicit subnet IDs if the VPC has private/public subnet separation.
# subnet_ids = ["subnet-...", "subnet-..."]
